.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  width: 110%;
}

.box {
  background-color: rebeccapurple;
  width: 20%;
  height: 2rem;
}

p {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
